


  <table class="table table-responsive margin-top-3">

    <thead>
      <tr class="bg-light">
        <th scope="col" width="20%">Spaces Quantity</th>
        <th scope="col" width="20%">Word Quantity</th>
        <th scope="col" width="20%">Hyphens Quantity</th>
      </tr>
    </thead>

    <tbody>
   <tr>
    <td><label >{{ textStatistics.spacesQuantity}}</label></td>
      <td><label >{{ textStatistics.wordQuantity}}</label></td>
      <td><label >{{ textStatistics.hyphensQuantity}}</label></td>
   </tr>
 </tbody>
</table>
