


<p>
  Welcome to Text Process Website, the ultimate solution for all your text processing needs! Our website offers two main services: ordering words in a text and getting text statistics.

With our Text Process service, you can easily submit your text and have the words ordered for you in just a few clicks. Simply enter your text in the input field and hit submit to receive your ordered words.

With our Statistics service, you can get in-depth information about your text. Get a detailed analysis of your text, including word count and frequency of each word. Enter your text in the input field and hit submit to receive your statistics.

At Process Text, we believe in making text processing simple and convenient.
</p>
<p>Try our services today and experience the difference:</p>

<ul>
  <li><a routerLink="/textorder">Text Order</a></li>
  <li><a routerLink="/textstatistics">Text Statistics</a></li>
</ul>
<br>

<img src="/assets/images/text-analysis.png">

