
<nav class="navbar navbar-expand-lg navbar-light bg-light border-color-red">
  <div class="input-group row">

      <strong> Text to analize</strong>
      <textarea class="form-control" placeholder="Place your text here..." rows="10" aria-label="Text to analize" [(ngModel)]="textToAnalize" aria-describedby="btnGroupAddon"></textarea>
  </div>


</nav>
<div class="row">
  <div class="row">
   <div class="input-group-text btn btn-primary" id="btnGroupAddon" (click)="AnalizeText()">Analize Text</div>
</div>
</div>


<div>
  <app-statistics-details [textStatistics] = "textStatisticsResult" />
</div>
