
<nav class="navbar navbar-expand-lg navbar-light bg-light border-color-red">
  <div class="input-group row">

      <strong>Text to order</strong>
      <textarea class="form-control" placeholder="Place your text here..." rows="10" aria-label="Text to order" [(ngModel)]="textToOrder" aria-describedby="btnGroupAddon"></textarea>


        <div class="row">
          <strong> Order Option</strong>
          <select  class="form-select" [(ngModel)]="selectedOrderOption">
            <option [value]="orderOption" *ngFor="let orderOption of orderOptions">{{orderOption}}</option>
          </select>
        </div>


    </div>
</nav>

<div class="row margin-top-3">
  <div class="input-group-text btn btn-primary" id="btnGroupAddon" (click)="OrderText()">Order Text</div>
</div>

<div>
  <app-text-order-details [textOrderList] = "textOrderResult" />
</div>
