/* You can add global styles to this file, and also import other style files */
body{
  margin: 20px !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.margin-top-3{
  margin-top: 3% !important;
}

.margin-top-5{
  margin-top: 5% !important;
}
